main a{
    color: white;
    
    border: solid 2px white;
    border-radius: 100px;

    padding: 5px 20px;
    margin: 2% auto;
    width: max-content;

    display: block;
}
main a:hover{
    color: rgba(0,0,0,.8);
    background: white;
}
/* -- END OF GENERAL -- */

/* -- ONE -- */
main section.one{
    flex-direction: column;
}
main section.one .text{
    top: 45%;
    left: 5%;
    transform: translate(-5%, -45%);
    text-shadow: 0 0 10px rgba(0,0,0,.8);
}
main section .text{
    text-align: left;
    color: white;
    display: block;
    font-weight: lighter;
}
main .one p{
    font-size: 1.35rem;
}


/* -- three -- */
main .info{
    width: 100%;
    height: 60px;
    margin: 0 0 2vh;

    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
main .info strong{
    margin: 0 3.5px 0 0;
}
/* -- end of info -- */
main .three{
    flex-direction: column;
}
main .three .text{
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -7.5%);
}
main .three h1{
    font-size: 2em;
    font-weight: bold;    
}
main .three .text *{
    font-weight: lighter;
}
main .three h5{
    font-size: 1.3rem;
    font-weight: lighter;
}
main .three h5{
    display: inline-block;
    margin: 0 10px;
}
main .three > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* -- FOUR -- */
main .info strong{
    margin: 0 3.5px 0 0;
}
main section.four{
    height: fit-content;

    background-color: hsl(0, 0%, 7%);

    flex-direction: column;
}
main section.four img{
    width: 100%;
}



/* tablet */
@media screen and (max-width: 1030px) {
    main{
        font-size: 14px;
    }
    main .one .text{
        max-width: 90vw;
        text-shadow: 0 0 10px rgba(0,0,0,.8), 0 0 10px rgba(0,0,0,.8);
    }
    main .one h1{
        font-size: 24px;
    }
    main .one p{
        font-size: 19px;
    }
    main .two h1{
        font-size: 35px;
    }
    main .info{
        height: 110px;
        width: 100%;
        padding: 4vh 10%;
     
        background: white;
        color: black;
     
        text-align: center;
    }
    main section.one .text{
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 10px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1);
    }
}

/* mobile */
@media screen and (max-width: 480px) {
    main .one img{
        display: none;
    }
    main .one{
        height: 90vh;
    }
    main .one{
        background: url('../images/6.jpg')
    }
    main .one .text{
        text-shadow: 0 0 10px rgba(0,0,0,.8), 0 0 10px rgba(0,0,0,.8), 0 0 10px rgba(0,0,0,.8);
    }
    main .info{
        font-size: 16px;
        padding: 4vh 1%;
    }
}